accelerate
arabic-reshaper
bertopic
Flask
huggingface-hub
kaleido
keybert
langchain
langchain-community
llama-cpp-python
matplotlib
networkx
nltk
numpy
openai-whisper
openpyxl
pandas
pillow
plotly
pyannote.audio
pycountry
pydub
python-bidi
python-dotenv
reportlab
ruff
sacremoses
scikit-learn
sentence-transformers
torch
torchvision
transformers
umap-learn
wordcloud
yt-dlp
